body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e293b;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 20px;
}

/* Sidebar */
.sidebar {
    width: 150px;
    background: #0f172a;
    padding: 20px;
    border-radius: 20px;
}

/* Main Section */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #334155;
    color: white;
}

/* Current Weather */
.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0f172a;
    padding: 20px;
    border-radius: 20px;
}

.weather-icon {
    font-size: 80px;
}

/* Hourly */
.hourly {
    background: #0f172a;
    padding: 20px;
    border-radius: 20px;
}

.hourly-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* Air Conditions */
.air-conditions {
    background: #0f172a;
    padding: 20px;
    border-radius: 20px;
}

.air-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

/* Forecast */
.forecast {
    width: 250px;
    background: #0f172a;
    padding: 20px;
    border-radius: 20px;
}